*.orig
*.pyc
*.bak
__init__.ini
growl.ini
*.zip
*.rar
*.7z
*.mp3
*.wav
.hg/
*.hgignore
*.hgtags
*dist/
*.egg-info/
traceback.log
__pycache__/
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
